mixin bookmark(bookmark)
    a(href=`/posts/${bookmark.post.id}`).post-mixin
        .post-mixin__data 
            span.post-mixin__title=bookmark.post.title 
            .post-mixin__meta 
                span 작성자 #{bookmark.post.owner.nickname} • 
                span 조회수 #{bookmark.post.meta.views}
                br
                span #{bookmark.post.creationDate}