extends layout.pug

block content 
    h2=post.title
    div(class="box")
        div(class="container")  
            each videoUrl in post.videosUrl  
                div(class="slide")
                    video(src=videoUrl, controls) 
            each imageUrl in post.imagesUrl 
                div(class="slide")
                    img(src=imageUrl)
    p=post.content 
    small=post.creationDate
    a(href=`${post.id}/edit`) 포스트 수정
    br
    a(href=`${post.id}/delete`) 포스트 삭제

block script 
    script(src="/assets/js/postdetail.js")