extends layout.pug

block content 
    h2=post.title
    video(src="/" + post.fileUrl, controls)
    div 
        ul 
            each url in post.fileUrl  
                li
                    img(src=url)
        p=post.content 
        small=post.creationDate
    a(href=`${post.id}/edit`) 포스트 수정
    br
    a(href=`${post.id}/delete`) 포스트 삭제