extends layout.pug

include mixins/postComment

block content 
    .bookmark__container
        if loggedIn
            if userBookmarks.includes(String(post.id)) === true
                .post__bookmarked 
                    i.fas.fa-bookmark
            else 
                .post__bookmark 
                    i.far.fa-bookmark
    .post__title
        h2=post.title
    .container(data-id=post._id)
        .slide_wrap
            .slide
                each imageUrl in post.imagesUrl 
                    img(src=imageUrl, class="image")
                each videoUrl in post.videosUrl  
                    video(src=videoUrl, class="video", controls) 
    div(style="white-space:pre-line;") 
        p=post.content 
        br
        div(style="white-space:pre-line; width: 500px;") 
            each hashtag in post.hashtags 
                a(href=`/search?keyword=` + hashtag.replace('#', '%23'))
                    span.hashtag=hashtag
        br
        br
        small.post__created=post.creationDate
        br
        small 조회수 #{post.meta.views - 1} 
    .post__owner
        small
            a(href=`/users/${post.owner._id}`)
                if post.owner.avatarUrl === undefined
                    i.fas.fa-user-circle
                else if post.owner.avatarUrl === null
                    i.fas.fa-user-circle
                else
                    img.poster__avatar(src="/" + post.owner.avatarUrl)
                span=post.owner.nickname
            span 님이 업로드한 포스트
            br
    br
    if String(post.owner._id) === String(loggedInUser._id)
        a(href=`${post.id}/edit`) 포스트 수정
        br
        a(href=`${post.id}/delete`) 포스트 삭제
    .comments__wrap
        if loggedIn
            .post__add-comments 
                form.post__comment-form#commentForm
                    span 댓글
                    textarea(class="loggedin__textarea", placeholder="댓글을 입력하세요...")
                    button 댓글 작성
        else 
            .post__add-comments 
                form.post__comment-form#commentForm
                    span 댓글
                    textarea(readonly, placeholder="로그인 해주세요...")
                    button(class="no__click") 댓글 작성
        .post__comments 
            ul 
                each comment in post.comments.reverse()
                    +postComment(comment)


block script 
    script(src="/assets/js/postdetail.js")
    script(src="/assets/js/comment.js")
    script(src="/assets/js/bookmark.js")
    script(src="/assets/js/date.js")