extends layout.pug

block content 
    h2=post.title
    div 
        ul 
            each videoUrl in post.videosUrl  
                li
                    video(src=videoUrl, controls)
    div 
        ul 
            each imageUrl in post.imagesUrl 
                li
                    img(src=imageUrl)
    p=post.content 
    small=post.creationDate
    a(href=`${post.id}/edit`) 포스트 수정
    br
    a(href=`${post.id}/delete`) 포스트 삭제