extends layout
include mixins/post
include mixins/comment
include mixins/bookmark
include mixins/subscription

block content 
    div.profile__data(data-id=profileUser.id)
        if profileUser.avatarUrl === undefined
            i.fas.fa-user-circle.fa-5x
        else if profileUser.avatarUrl === null
            i.fas.fa-user-circle.fa-5x
        else 
            img(src="/" + profileUser.avatarUrl).avatar
        h3=profileUser.nickname
        span.subscribers__number 구독자 #{profileUser.subscribers}
        if String(profileUser.id) === String(loggedInUser._id)
            a(href="/users/edit-profile", class="edit__profile")
                span edit 
                i.fas.fa-edit
    if loggedIn
        if String(profileUser.id) !== String(loggedInUser._id)
            .subscription__wrap
                if userSubscriptions.includes(String(profileUser.id)) === true
                    button.subscribing 구독중
                else
                    button.subscription 구독하기
        else 
            i.fas.fa-cog.settings
            .user__settings
                span 사용자 #{profileUser.nickname}
                br
                span 계정 #{profileUser.email} 
                br
                span 구독자 #{profileUser.subscribers}
                br
                span 가입 날짜 
                span.date__created #{profileUser.creationDate}
                br
                button.withdrawal 회원 탈퇴
    .components 
        .my__posts 
            span 포스트
        .my__comments
            span 댓글
        if String(profileUser.id) === String(loggedInUser._id)
            .my__bookmark 
                span 북마크
            .my__subscription
                span 구독
    .components__wrap 
        .components__posts
            each post in profileUser.posts
                +post(post)
            else
                span.empty__message 작성한 포스트가 없습니다.
        .components__comments
            each comment in profileUser.comments 
                +comment(comment)
            else 
                span.empty__message 작성한 댓글이 없습니다.
        .components__bookmarks
            each bookmark in profileUser.bookmarks 
                +bookmark(bookmark)
            else 
                span.empty__message 북마크한 포스트가 없습니다.
        .components__subscriptions
            each subscription in profileUser.subscriptions 
                +subscription(subscription)
            else 
                span.empty__message 구독한 사용자가 없습니다.

block script 
    script(src="/assets/js/profile.js")
    script(src="/assets/js/subscription.js")
    script(src="/assets/js/date.js")